<section class="hero-section d-flex justify-content-center align-items-center">
    <div class="section-overlay"></div>

    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-12 mb-5 mb-lg-0">
                <div class="hero-section-text mt-5">
                    <h6 class="text-white">Are you looking for your dream job?</h6>

                    <h1 class="hero-title text-white mt-4 mb-4">Online Platform. <br> Best Job portal</h1>

                </div>
            </div>

            <div class="col-lg-6 col-12">
                <form class="custom-form hero-form" action="http://localhost:5030/Job/JobListings" method="get" role="form">
                    <div class="row">
                        <div class="col-lg-12 col-12">
                            <button type="submit" class="form-control">
                                Find a job
                            </button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>

<section class="section-padding">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-12">
                <div class="custom-text-block custom-border-radius-start">
                    <h2 class="text-white mb-3">Gotto helps you an easier way to get new job</h2>

                    <p class="text-white">You are not allowed to redistribute the template ZIP file on any other template collection website. Please contact us for more info. Thank you.</p>

                    <div class="d-flex mt-4">
                        <div class="counter-thumb">
                            <div class="d-flex">
                                <span class="counter-number" data-from="1" data-to="12" data-speed="1000"></span>
                                <span class="counter-number-text">M</span>
                            </div>

                            <span class="counter-text">Daily active users</span>
                        </div>

                        <div class="counter-thumb">
                            <div class="d-flex">
                                <span class="counter-number" data-from="1" data-to="450" data-speed="1000"></span>
                                <span class="counter-number-text">k</span>
                            </div>

                            <span class="counter-text">Opening jobs</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-12">
                <div class="video-thumb">
                    <img src="images/people-working-as-team-company.jpg" class="about-image custom-border-radius-end img-fluid" alt="">

                    <div class="video-info">
                        <a href="https://www.youtube.com/tooplate" class="youtube-icon bi-youtube"></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="reviews-section section-padding">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12">
                <h2 class="text-center mb-5">Happy customers</h2>

                <div id="reviews" class="owl-carousel owl-theme reviews-carousel">
                </div>
            </div>

        </div>
    </div>
</section>


@section Scripts {
    <script>
        const reviewsSec = document.getElementById("reviews");

        fetch("/Review/TopThreeReviewsPartial") // GET request
          .then(response => {
            if (!response.ok) {
              throw new Error(`HTTP error! Status: ${response.status}`);
            }
                 return response.text();
        })
        .then(html => {
          reviewsSec.innerHTML = html;
        })
          .catch(error => {
            console.error("Error fetching reviews:", error);
            reviewsSec.innerHTML = "<p>Failed to load reviews.</p>";
          });
    </script>
}
